:root {
    --primary-color: #004dda;
    --dark: #5a5a5f;
    --light: #fff;
    --grey: #c4c4c4;
    --default-pad: 2.5rem;
    --medium-pad: calc(var(--default-pad) / 2);
    --small-pad: calc(var(--medium-pad) / 2);
}

html {
    height: 100%;
}

html, body{
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--dark);
    display: flex;
    background-color:#e4e4e4;
    min-height: 100%;
}

.topnav_menu, .menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menus {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    padding: var(--default-pad);
}

.main_nav {
    padding: var(--medium-pad) 0 0;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
}

.dashboard {
    font-weight: bold;
}

.main_content{
    flex-grow: 1;
}

.main_nav > a {
    padding-left: var(--default-pad);
}

.main_content{
    flex-grow: 1;
}

.top_nav {
    background-color: #ffffff;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--medium-pad) var(--default-pad);
}

.perfil {
    margin-right: 10px;
}

.perfilname{
    font-weight: bold;
}

.topnav_menu li {
    display: inline-block;
    list-style: none;
}

main {
    padding: var(--default-pad);
    display: flex;
    flex-direction: column;
    gap: var(--default-pad);
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--medium-pad);
    background-color: var(--light);
}

.separate{
    width: 1px;
    border-left: 2px solid var(--grey);
    align-self: stretch;
}

img {
    width: 100%;
}

.btn {
    background-color: var(--primary-color);
    color: var(--light);
    text-decoration: none;
    border-radius: 5px;
    padding: var(--small-pad) var(--medium-pad);
}

.charts {
    display: flex;
    gap: var(--default-pad);
}

.chart {
    flex-grow: 1;
}

.number {
    color: var(--primary-color);
    font-weight: 600;
    font-size: larger;    
    padding: 0 .5rem;
}

.menus .menu:first-child {
    border-bottom: 1px solid var(--grey);
}

.menus .menu:last-child {
    position: fixed;
    left: var(--small-pad);
    bottom: var(--medium-pad);
}

a {
    text-decoration: none;
    color: #5a5a5f;
}

.img {
    height: 24px;
    width: 24px;
    padding-right: 5px;
}